# Python and Jupyter
.ipynb_checkpoints/
.env
nltk_download/

# Project-specific datasets and data directories
dataset/
pdfs/
figures/
xfigs/
xcaps/
extraction_time.txt

# Data extraction projects
caption_extraction/
pdf-content-extraction-data/
pdf_image_extraction_dataset/
pdf_image_extraction_dataset.zip
pdf-img-extraction-test/
scientific-integrity-v8/


